[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
symbolic-links=0

character-set-server=utf8
skip-character-set-client-handshake

bind-address = {{ mysql57_community_bind_address }}
log-error=/var/log/mysql/mysqld.log

[mysqld_safe]
pid-file=/var/run/mysqld/mysqld.pid

[client]
default-character-set=utf8

[mysql]
default-character-set=utf8

[mysqldump]
default-character-set=utf8

